<html>
<title>SNAKE GAME HOME</title>
<style>
.text{

color: white;
font-size:120%;

}

.button {

  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width :100%;
  cursor: pointer;	
}

</style>
<body bgcolor="black">

<h1 style="color:white;" align="center">WELCOME TO THE SNAKE GAME</h1>

<p class="text" align="center" >A really hungry Snake needs apples for survival
<br>Use the arrow keys to move the snake
<br>The snake grows for every apple it eats and gains 10 points
<br>If the snake bites(passes through) another snake it gains 15 points and the other snake loses 5 points
<br>The snake can lose length only till it has 4 cells (minimum limit) in case it is bitten by any other snakes
<br>If the snake bites itself then GAME OVER
</p>



<p class="text" align="center" >Click the button to Start Game.</p>


<button class="button" onclick="window.location.href = 'http://snakegame.com:9000/';">PLAY GAME</button>


</body>
</html>